section {
    font-family: var(--rubik);
    padding-block: var(--fs-10);
    color: var(--bs-dark);
}

.section {
    background-color: var(--dark-theme);
    color: var(--text-color);
}

#upskill-employees,
#world-class-content,
#roi,
#talent {
    background-color: var(--dark-theme);
    color: var(--text-color);
}

#intro {
    background-color: var(--dark-bg);
    padding-block: 0;
}

#intro .left-area {
    padding-block: var(--fs-10);
}

#intro .left-area .subtext {
    color: var(--bs-white);
}

.navigation-area {
    margin-top: 30px;
}

.navigation-area li {
    margin: 15px 0;
}

.navigation-area li a,
.navigation-area li p {
    display: flex;
    align-items: center;
}

.navigation-area li a i,
.navigation-area li p i {
    color: var(--primary-9);
    margin-right: 15px;
}

.navigation-area li a span,
.advertise-area li p span {
    color: var(--text-color);
    display: inline-block;
}

#intro .left-area .btn-area {
    text-transform: uppercase;
    font-size: var(--fs-1);
    background-color: var(--primary-bg-color);
    padding: 15px;
    width: 30%;
    margin-top: 3rem;
    border-radius: var(--border-radius);
    position: relative;
    transition: var(--transition-2);
}

#intro .left-area p {
    color: var(--bs-white);
    margin: 25px 0;
}

#intro .left-area .btn-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-theme);
    font-weight: 500;
}

#intro .left-area .btn-area:hover {
    background: var(--bs-dark);

}

#intro .left-area .btn-area:hover a {
    color: var(--bs-white);
    position: relative;
    z-index: 4;
}

#intro .left-area .btn-area .btn-curve {
    position: absolute;
    right: -15px;
    top: 0;
    width: 26px;
    height: 100%;
    background: var(--bs-dark);
    opacity: 0.2;
    z-index: 0;
    transform: skewX(-22deg);
    transition: all .7s ease;
    border: 1px solid var(--bs-dark);

}

#intro .left-area .btn-area:hover .btn-curve {
    opacity: 1;
    right: 0;
    width: 100%;
    transform: skewX(0deg);
    border-radius: 5px;
    border-color: var(--primary-9);
}

#intro .right-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#intro .advertise-area {
    box-shadow: var(--box-shadow-1);
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: var(--secondary);
    position: relative;
    bottom: 83px;
    left: 0px;
}

#intro .advertise-area .area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

#intro .advertise-area .col-lg-4:not(:last-child) .area::after,
#intro .advertise-area .col-lg-6:not(:last-child) .area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 103%;
    background-color: var(--dark-border);
    width: 1px;
    height: 100%;
}
#intro .advertise-area .area .text{
    margin-left: 15px;
}
#intro .advertise-area .area .percent-area {
    font-size: var(--fs-5);
}

#intro .advertise-area .area .percent-area span {
    font-weight: 600;
}

#intro .advertise-area .area .percent-area span:last-child {
    display: inline-block;
    margin-left: -9px;
}

#intro .video-area {
    height: 35rem;
    background-color: var(--primary-1);
}

.css-btm-50 {
    bottom: -50px !important;
}

.css-btm-50 .text {
    width: 85%;
}

.css-btm-50 .col-lg-6:last-child .area {
    margin: 14px 0;
}

h1 {
    color: var(--bs-white);
}


.line {
    height: 1.2px;
    width: 100%;
    background: rgb(0, 78, 26);
    background: linear-gradient(90deg, rgba(0, 78, 26, 1) 20%, rgba(0, 204, 68, 1) 50%, rgba(0, 78, 26, 1) 80%);
}

/* brands */
#brands .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#brands .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

#brands .swiper-slide img {
    display: block;
    width: 100%;
}

#brands .swiper-pagination-bullet-active {
    background: var(--primary-bg-color);
}

#brands .text-area p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 8rem 0 8rem 16px;
}

#brands .container .row {
    background-attachment: fixed;
}

#partners .navigation-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
#partners .navigation-area li{
    width: 48%;
}
#partners .navigation-area li h4{
    color: var(--primary-9);
}
#partners .navigation-area li span{
    color: var(--bs-white);
}
/* title,subtitle */
.title {
    font-size: var(--fs-3);
    margin: 30px 0;
    text-transform: uppercase;
}

.subtitle {
    margin: 25px 0;
    font-size: 17px;
}

.img-area {
    width: 100%;
    height: 33rem;
    background: var(--primary-1);
}

/* comment area */
.right-area {
    margin-left: 30px;
}

.comment-area {
    margin: 50px auto 0 auto;
    border-radius: var(--border-radius);
    padding: 20px;
}

.comment-area .fa-quote-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.comment-area i {
    color: var(--primary-bg-color);
}

.comment-area .comment-owner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-area .comment-owner .company-img {
    width: 18%;
    height: 56px;
    background-color: var(--primary-1);
    border-radius: var(--border-radius);
    margin-right: 15px;
}

.comment-area .comment-owner .author,
.proffesion {
    color: var(--bs-white);
}

.comment-area .single-comment .comment {
    padding: 20px;
    text-align: center;
}

/* learn more */

.learn-more-btn {
    color: var(--bs-white);
    margin: 3rem 0;
    display: inline-block;
    font-size: var(--fs-0);
    transition: var(--transition-1);
}

.learn-more-btn:hover {
    color: var(--primary-9);
}


#learn-more,
#learn-more h1 {
    color: var(--dark-theme);
}

#learn-more h1 {
    line-height: 1;
}

#learn-more .form-area {
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: var(--border-radius);
}

.input {
    position: relative;
    width: 49%;
}

.region,
.select-option {
    display: block;
    width: 98%;
}

label {
    margin: 15px 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
}

.input__label {
    position: absolute;
    left: 2px;
    top: 0;
    width: 30%;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--bs-white);
    transition: transform 120ms ease-in;
    line-height: 1.2;
    color: var(--text-color);
}

.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: currentColor;
    background: transparent;
    border-radius: var(--border-radius);
}

.input__field:focus+.input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: var(--text-color);
    width: auto;
}

.input__field:focus {
    border-color: var(--primary-9);

}

#learn-more .info {
    font-size: 0.8rem;
    padding: 15px 15px 0;
    display: inline-block;
}

#learn-more button {
    text-transform: uppercase;
    font-size: var(--fs-1);
    background-color: var(--primary-bg-color);
    padding: 15px;
    width: 30%;
    border-radius: var(--border-radius);
    position: relative;
    transition: var(--transition-2);
    margin: 3rem 11.8rem 0;
}

#learn-more button span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-theme);
    font-weight: 500;
}

#learn-more button:hover {
    background: var(--bs-dark);
}

#learn-more button:hover span {
    color: var(--bs-white);
    position: relative;
    z-index: 4;
}

/* #learn-more button .btn-curve{
    position: absolute;
    right: -3px;
    top: 0;
    width: 12px;
    height: 100%;
    background: var(--dark-theme);
    opacity: 0.2;
    z-index: 0;
    transform: skewX(-22deg);
    transition: all .7s ease;
}

#learn-more button:hover .btn-curve {
    opacity: 1;
    right: 0;
    width: 100%;
    transform: skewX(0deg);
    border-radius: 5px;
    border-color:var(--primary-9);
} */

/* contact us area */
#contact-us .contact-us-area {
    padding-block: var(--fs-10);
    width: 90%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    background-color: var(--dark-theme);
}

#contact-us .contact-text {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#contact-us .contact-text h1 {
    font-size: var(--fs-8);
}

#contact-us .contact-text h5 {
    color: var(--text-color);
}

#contact-us .btns {
    text-align: center;
    margin-top: var(--fs-10);
}

#contact-us .btns a {
    color: var(--bs-white);
    margin-right: 20px;
    border: 1px solid var(--bs-white);
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: var(--transition-1);
}

#contact-us .btns a:first-child {
    background-color: var(--primary-9);
    color: var(--dark-theme);
    border: 1px solid var(--primary-9);
    font-weight: 500;
}

#contact-us .btns a:hover:last-child {
    border-color: var(--primary-9);
}

#contact-us .btns a:hover:first-child {
    background-color: var(--bs-white);
    color: var(--bs-dark);
}

#contact-us .for-teams-btn {
    font-size: var(--fs-0);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

#contact-us .for-teams-btn span:last-child {
    text-decoration: underline;
    color: var(--text-color);
}

#overview .box-area {
    border: 1px solid var(--border-color);
    padding: 30px 20px 0;
    border-radius: var(--border-radius);
    height: 20rem;
}

#overview .box-area p {
    margin: 1.5rem 0 2rem 0;
}

#overview .box-area a {
    color: var(--primary-9);
    font-weight: 500;
}

#overview .box-area a i {
    margin-left: 5px;
}

@media (max-width:576px) {
    #intro .advertise-area .col-lg-4:not(:last-child) .area::after, 
    #intro .css-btm-50 .col-lg-6:not(:last-child) .area::after{
        top: 100% !important;
        left: -1% !important;
        width: 100%;
        height: 1px;
    }

    #intro .right-area {
        height: 50vh !important;
    }

    #intro .left-area .btn-area {
        width: 60%;
    }

    .right-area {
        margin-left: 0 !important;
    }

    .comment-area {
        width: 100% !important;
    }

    #contact-us .contact-text h1 {
        font-size: var(--fs-5);
    }
    #contact-us .btns a{
        display: block;
        margin-right: 0;
    }
    #contact-us .btns a:last-child{
        margin-top: 40px;
        display: block;
    }
    #contact-us  .for-teams-btn{
        display: block;
        text-align: center;
    }
    #contact-us  .for-teams-btn span{
        display: inline-block;
    }
    #overview .box-area{
        margin-bottom: 10px;
    }
    #learn-more button{
        margin: 3rem 8rem !important;
    }
}

@media (min-width:768px) and (max-width:1180px) {
    #intro .right-area {
        height: 60vh !important;
    }

    #intro .advertise-area,
    #intro .area {
        display: block !important;
    }

    #intro .area .percent-area,
    #intro .area {
        text-align: center;
    }

    .right-area {
        margin-left: 0 !important;
        margin-top: 15px;
    }

    .comment-area {
        width: 100%;
    }
    #intro .left-area .btn-area {
        width: 35%;
    }

    #overview .box-area{
        margin-bottom: 10px;
    }
}