section {
    font-family: var(--rubik);
    padding-block: var(--fs-10);
    color: var(--bs-dark);
}

.section {
    background-color: var(--dark-theme);
    color: var(--text-color);
}

#intro {
    background-color: var(--dark-bg);
    padding-block: 0;
}

#intro .left-area {
    padding-block: var(--fs-10);
}

#intro .left-area .subtext {
    color: var(--bs-white);
}

.navigation-area {
    margin-top: 30px;
}

.navigation-area li {
    margin: 15px 0;
}

.navigation-area li a,
.navigation-area li p {
    display: flex;
    align-items: center;
}

.navigation-area li a i,
.navigation-area li p i {
    color: var(--primary-9);
    margin-right: 15px;
}

.navigation-area li a span,
.advertise-area li p span {
    color: var(--text-color);
    display: inline-block;
}

#intro .left-area .btn-area {
    text-transform: uppercase;
    font-size: var(--fs-1);
    background-color: var(--primary-bg-color);
    padding: 15px;
    width: 50%;
    margin-top: 3rem;
    border-radius: var(--border-radius);
    position: relative;
    transition: var(--transition-2);
}

#intro .left-area p {
    color: var(--bs-white);
    margin: 25px 0;
}

#intro .left-area .btn-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark-theme);
    font-weight: 500;
}

#intro .left-area .btn-area:hover {
    background: var(--bs-dark);
}

#intro .left-area .btn-area:hover a {
    color: var(--bs-white);
    position: relative;
    z-index: 4;
}

#intro .left-area .btn-area .btn-curve {
    position: absolute;
    right: -15px;
    top: 0;
    width: 26px;
    height: 100%;
    background: var(--bs-dark);
    opacity: 0.2;
    z-index: 0;
    transform: skewX(-22deg);
    transition: all .7s ease;
    border: 1px solid var(--bs-dark);
}

#intro .left-area .btn-area:hover .btn-curve {
    opacity: 1;
    right: 0;
    width: 100%;
    transform: skewX(0deg);
    border-radius: 5px;
    border-color: var(--primary-9);
}

#intro .right-area {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--primary-1);
    height: 100vh;
}

#intro .advertise-area {
    box-shadow: var(--box-shadow-1);
    border: 1px solid var(--gray-dark);
    border-radius: var(--border-radius);
    padding: 25px;
    background-color: var(--secondary);
    position: relative;
    bottom: 83px;
    left: 0px;
}

#intro .advertise-area .area {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

#intro .advertise-area .col-lg-4:not(:last-child) .area::after,
#intro .advertise-area .col-lg-6:not(:last-child) .area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 103%;
    background-color: var(--dark-border);
    width: 1px;
    height: 100%;
}

#intro .advertise-area .area .text {
    margin-left: 15px;
}

#intro .advertise-area .area .percent-area {
    font-size: var(--fs-5);
    display: flex;
}

#intro .advertise-area .area .percent-area span {
    font-weight: 600;
}

#intro .advertise-area .area .percent-area span:last-child {
    display: inline-block;
    margin-left: -1px;
}

.video-area {
    height: 35rem;
    background-color: var(--primary-1);
}

h1 {
    color: var(--bs-white);
}

.line {
    height: 1.2px;
    width: 100%;
    background: rgb(0, 78, 26);
    background: linear-gradient(90deg, rgba(0, 78, 26, 1) 20%, rgba(0, 204, 68, 1) 50%, rgba(0, 78, 26, 1) 80%);
}


/* title,subtitle */
.title {
    font-size: var(--fs-3);
    margin: 30px 0;
    text-transform: uppercase;
}

.subtitle {
    margin: 25px 0;
    font-size: 17px;
}

.img-area {
    width: 100%;
    height: 33rem;
    background: var(--primary-1);
}

/* comment area */
.right-area {
    margin-left: 30px;
}

.comment-area {
    margin: 50px auto 0 auto;
    border-radius: var(--border-radius);
    padding: 20px;
}

.comment-area .fa-quote-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.comment-area i {
    color: var(--primary-bg-color);
}

.comment-area .comment-owner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-area .comment-owner .company-img {
    width: 18%;
    height: 56px;
    background-color: var(--primary-1);
    border-radius: var(--border-radius);
    margin-right: 15px;
}

.comment-area .comment-owner .author,
.proffesion {
    color: var(--bs-white);
}

.comment-area .single-comment .comment {
    padding: 20px;
    text-align: center;
}

/* learn more */

.learn-more-btn {
    color: var(--bs-white);
    margin: 3rem 0;
    display: inline-block;
    font-size: var(--fs-0);
    transition: var(--transition-1);
}

.learn-more-btn i {
    margin-left: 10px;
}

.learn-more-btn:hover {
    color: var(--primary-9);
}

@media (max-width:576px) {

    #intro .advertise-area .col-lg-4:not(:last-child) .area::after,
    #intro .css-btm-50 .col-lg-6:not(:last-child) .area::after,
    #intro .advertise-area .col-lg-6:not(:last-child) .area::after {
        top: 100% !important;
        left: -1% !important;
        width: 100%;
        height: 1px;
    }

    #intro .right-area {
        height: 50vh !important;
    }

    #intro .left-area .btn-area {
        width: 68% !important;
    }

    .right-area {
        margin-left: 0 !important;
    }

    .comment-area {
        width: 100% !important;
    }

}

@media (min-width:768px) and (max-width:1180px) {
    #intro .right-area {
        height: 60vh !important;
    }

    #intro .css-btm-50 .col-md-12:not(:last-child) .area::after,
    #intro .advertise-area .col-lg-6:not(:last-child) .area::after,
    #intro .advertise-area .col-lg-4:not(:last-child) .area::after {
        top: 100% !important;
        left: -1% !important;
        width: 100%;
        height: 1px;
    }

    #intro .advertise-area,
    #intro .area {
        display: block !important;
    }

    #intro .area .percent-area,
    #intro .area {
        text-align: center;
    }

    #intro .left-area .btn-area {
        width: 40%;
    }

    .right-area {
        margin-left: 0 !important;
        margin-top: 15px;
    }

    .comment-area {
        width: 100%;
    }

    #intro .advertise-area .area .percent-area {
        display: initial !important;
    }

    #job-skill h1{
        margin-top: 20px;
    }

}