#faq .accordion .accordion-header button:focus {
    border-color: transparent !important;
    box-shadow: none;
}

#faq h1{
    color: var(--bs-black);
    text-align: center;
}
#faq .accordion{
    width: 70%;
    margin: 2rem auto;

}

#faq .accordion-button:not(.collapsed){
    color: var(--bs-black);
    box-shadow: var(--box-shadow-2);
    background-color: var(--primary-9);
    font-weight: 600;
}