/* header */
header {
    font-family: var(--rubik);
    position: relative;
}

header .topbar .topbar-navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}

header .topbar .topbar-navbar li {
    position: relative;
}

header .topbar .topbar-navbar a {
    color: var(--bs-dark);
    font-size: var(--fs-0);
}

header .topbar .topbar-navbar li a::before {
    content: '';
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    border-bottom: 3px solid var(--bs-dark);
    transform: scaleX(0);
}

header .topbar .topbar-navbar li:hover a::before,
header .topbar .topbar-navbar .active-link a::before {
    transform: scale(1);
}

header .main-navbar {
    background-color: var(--dark-theme);
    box-shadow: var(--box-shadow-1);
    transition: var(--transition-1);
}

.active-navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom: 1px solid var(--border-color);
}

header .main-navbar .row {
    align-items: center;
}

header .main-navbar a,
header .main-navbar p,
header .responsive-navbar a,
header .responsive-navbar .navbar-link {
    color: var(--bs-white);
    cursor: pointer;
}

header .main-navbar .navbar p {
    display: inline;
}

.logo {
    width: 125px;
}

header .responsive-navbar .navbar-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .main-navbar .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .main-navbar .navbar .navbar-item,
header .responsive-navbar ul li {
    position: relative;
}

header .responsive-navbar ul .navbar-item {
    font-size: var(--fs-2);
    margin-bottom: 10px;
    position: relative;
}

header .responsive-navbar ul li i {
    color: var(--bs-white);
}

header .responsive-navbar ul li .dropdown-area {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.active-dropdown-area {
    height: auto !important;
    transition: var(--transition-1);
    opacity: 1 !important;
    visibility: visible !important;
}

header .responsive-navbar .navbar-item .chevron-icons {
    position: absolute;
    bottom: 0;
    right: 0;
}

header .responsive-navbar .navbar-item .chevron-icons .fa-chevron-right {
    position: absolute;
    top: 12px;
}

.hidden-arrow {
    opacity: 0;
    visibility: hidden;
}

header .main-navbar .navbar .navbar-item .navbar-link::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    border-bottom: 2px solid var(--primary-bg-border);
    transform: scaleX(0);
}

header .main-navbar .navbar .navbar-item:hover .navbar-link::before,
header .main-navbar .navbar .active-link .navbar-link::before {
    transform: scale(1);
}

header .main-navbar .navbar .navbar-link {
    font-size: var(--fs-0);
}

header .main-navbar .navbar .dropdown-area {
    position: absolute;
    top: 30px;
    left: -44px;
    background-color: var(--bs-white);
    padding: 15px 0 15px;
    z-index: 2;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    width: 300px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-1);
}

header .main-navbar .navbar .dropdown-area li,
header .responsive-navbar ul .dropdown-area li {
    padding: 5px 25px;
    transition: var(--transition-1);
}

header .main-navbar .navbar .dropdown-area li a {
    color: var(--bs-dark);
    font-size: var(--fs-0);
    text-transform: uppercase;
}

header .responsive-navbar ul .dropdown-area li a {
    font-size: var(--fs-0);
    text-transform: uppercase;
}

header .main-navbar .navbar .dropdown-area li:hover a,
header .responsive-navbar ul .dropdown-area li:hover a {
    color: var(--primary-bg-hover);
}

header .main-navbar .navbar .navbar-item {
    cursor: pointer;
    color: var(--bs-white);
}

header .main-navbar .navbar .navbar-item:hover .dropdown-area {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

header .main-navbar .contact {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .main-navbar .contact .contact-us {
    margin-left: 10px;
}

header .main-navbar .contact .contact-us p {
    font-size: var(--fs-3);
}

header .main-navbar .contact .contact-us a {
    font-size: var(--fs-0);
}

header .top-area {
    display: flex;
    align-items: center;
}

header .top-area span {
    color: var(--bs-white);
    opacity: 0.9;
    margin-bottom: 6px;
    font-size: var(--fs-2);
}

.nav-icons {
    text-align: end;
    color: var(--primary-9);
    cursor: pointer;
    position: relative;
}

.burger-menu-icon {
    position: absolute;
    top: 11px;
}

.close-icon {
    opacity: 0;
    visibility: hidden;
}

.show-close-icon {
    opacity: 1;
    visibility: visible;
    transition: var(--transition-1);
}

.hidden-burger-menu-icon {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.responsive-navbar {
    width: 100%;
    height: 1000vh;
    background-color: var(--dark-theme);
    box-shadow: var(--box-shadow-1);
    position: fixed;
    top: 81px;
    left: 0;
    z-index: 4;
    transform: translateX(-10000px);
    transition: var(--transition-1);
    overflow-y: scroll;
    padding: 20px;
}

.active-responsive-navbar {
    transform: translateX(0);
}

/* footer */
footer {
    background-color: var(--dark-theme);
    color: var(--text-color);
}

.footer-main.footer-main1 {
    position: relative;
    padding-block: var(--fs-10);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-main .payments {
    display: flex;
    align-items: center;
    width: 30%;
}

.footer-main .payments li {
    margin-right: 15px;
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

.footer-main .payments li a {
    color: rgba(255, 255, 255, 0.6);
    line-height: 3;
}

.footer-main .payments li a:hover {
    color: #00fd54 !important;
    line-height: 0;
}

.footer-main .payments {
    margin: 0 !important;
}

footer .fa-chevron-right {
    font-size: .675em;
}

.flag {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.payment {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.footer a:not(.btn) {
    color: #1f252d;
}
/* 
footer .social-icons {
    border: 1px solid rgba(255, 255, 255, 0.2);
} */

footer .social-icons {
    color: #fff;
    background-color: var(--dark-bg);
}
footer .social-icons i{
    font-size: large;
}

footer .social li a {
    color: rgba(255, 255, 255, 0.6);
}

.footer .border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.footer-main p {
    color: #fff;
}

.footer-main a {
    color: #fff;
}

.footer-main.footer-main1 a {
    color: #fff;
}

.social li a:hover,
.footer-main a:hover,
.footer-links a:hover {
    color: var(--primary-bg-color);
}

.footer-main.footer-main1 .form-control {
    border: 1px solid var(--dark-border) !important;
}

.footer-main .select2-container--default .select2-selection--single {
    background: var(--dark-body);
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #fff !important
}

.footer-links a {
    color: #fff;
}

.footer-links a:before {
    background: rgba(255, 255, 255, 0.1);
}

footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}



footer .form-control {
    display: block;
    width: 100%;
    padding: 0.275rem 0.55rem;
    font-size: 0.8375rem;
    line-height: 1.6;
    color: var(--text-color);
    height: 39px;
    background-color: var(--dark-bg);
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 7px;
    border-color: var(--primary-9);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control.border-white {
    border: 1px solid rgba(167, 180, 201, 0.7) !important;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    border-color: #ededf5;
    background-color: var(--dark-bg);
    color: var(--bs-white);
    outline: 0;
    box-shadow: none;
}

footer {
    font-family: var(--poppins);
}
footer .text-primary{
    color: var(--primary-9) !important;
}
footer li{
    margin-top: 15px;
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #5c5776;
}

.form-control::placeholder {
    color: #5c5776;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #ededf5;
    opacity: 1;
}


@media (max-width:576px) {
    header .main-navbar .logo {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer .text-title {
        margin-top: 20px;
    }

}

@media (min-width:768px) and (max-width:1180px) {
    header .main-navbar .logo {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}