/* tab menu */
.tab-menu {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 70px;
}

.tab-menu .tab-menu-heading {
   cursor: pointer;
   width: 100%;
   text-align: center;
   font-size: var(--fs-1);
   border-bottom: 1px solid var(--border-color);
   transition: var(--transition-1);
   color: var(--bs-white);
   font-weight: 600;
   padding: 10px 0;
}

.tab-menu .tab-menu-heading p {
   position: relative;
}

.tab-menu .tab-menu-heading p::after {
   content: '';
   position: absolute;
   top: 33px;
   left: 0;
   width: 100%;
   height: 3px;
   background-color: var(--primary-9);
   opacity: 0;
   visibility: hidden;
   transition: var(--transition-1);
}

.tab-menu .tab-menu-heading.active p::after {
   opacity: 1;
   visibility: visible;
}

.de-active-content {
   display: none;
}

.content {
   margin-top: 5rem;
}

.content .img-area {
   height: 20rem;
   width: 100%;
}

@media (max-width:576px) {
   .tab-menu {
      flex-wrap: wrap;
   }

   .tab-menu .tab-menu-heading {
      width: 100% !important;
   }
   #demand-skills .content .title-text{
      margin-top: 30px ;
   }
}

@media (min-width:768px) and (max-width:1180px) {
   .tab-menu {
      flex-wrap: wrap;
   }
}