@import url('./tab-menu.css');
@import url('./search.css');
@import url('./common.css');
@import url('./layout.css');
@import url('./reset.css');
@import url('./adaptability.css');
@import url('./partners.css');
@import url('./contac-us.css');
@import url('./overview-box.css');
@import url('./expert-instruction.css');
@import url('./comment.css');

.btn-area{
   width: 50% !important;
}

.css-btm-50 {
   bottom: 0 !important;
}

.css-btm-50 .col-lg-6:last-child .area {
   margin: 0 !important;
}
